<h3><%= blog.title %></h3>
<p><small class="text-muted"><%= blog.date %> • <%= blog.author %></small></p>
<p><%= blog.content %></p>
<a href="/blogs" class="btn btn-secondary btn-sm">← Back to Blogs</a>
